
body{
    margin: auto;
    position: relative;
    font-family: 'Muli';
}
.container-container--header{
    position: fixed;
    top : 0;
    background-color: snow;
    display: block;
    width: 100%;
    height: 80px;
    z-index: 1;
    border: black solid 1px;
    margin: 0 auto;
}
.logo-DXC{
    position: absolute;
    left: 50px;
    bottom: 15.5px;
    height: 54.5px;
    width: 80px;
    display: inline-block;
}
.company-name{
    position: absolute;
    padding-left: 8px;
    left: 135px;
    height: 80px;
    width: 200px;
    padding-top: 4px;
    letter-spacing: 0.03em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
}
.nav-bar{
    position: absolute;
    right: 50px;
    height: 80px;
    display: inline-block;
}
.nav-bar-ul{
    list-style-type: none;
}

.nav-bar-ul-li{
    display: inline-block;
    margin: 14px;
}
ul li a{
    text-decoration: none;
    color : black;
    /* font-family: 'Courier New', Courier, monospace; */
}
ul li a:hover{
    color: #4d4d00;
    background-color: #e9e9e9;
}
.dxc{
    display: block;
    position: relative;
}
.dxc-main-banner{
    position: relative;
    margin-top: 80px;
    max-width: 100%;
    height: auto;
}
.leftbanner{
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top :0;
    bottom: 0;
    height: 300px;
    border-radius: 0px 260px 260px 0px;
    border: 1px solid #000;
    width: 28%;
    background: rgba(0, 0, 0, 0.555);
    padding: 20px;
}
.leftbanner h1{
    font-size: 65px;
    width: 90%;
    vertical-align:middle;
    color: white;
    text-align: center;
}
#bannerlogo{
    display: block;
    width: 100%;
}
.dxc-main{
    width: 100%;
}

.container, .dxc-footer{
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    padding-bottom: 30px;
}

.dxc-main--about-us-padding-tb
{
    display: flex;
    margin-bottom: 50px;
}
.overview-about-us{
    display: block;
    width: 50%;
    margin-right:30px;
}
.overview-about-us-video{
    display: block;
    width: 50%;
}
video{
    max-width: 100%;
}
.dxc-main--solution-padding-tb{
    display: block;
}
.item-services1{
    display: block;
    margin-bottom: 30px;
}
.item-services2{
    display: block;
}
.small-item {
    display: inline-block;
    width: 24.7%;
    text-align: center;
}
.small-item a{
    text-decoration: none;
    color: black;
}
.small-item a:hover{
    text-decoration: underline #ccc933;
    color: #ccc933;
}
.small-item a:hover img{
    border: #ccc933 solid 1px;
    border-radius: 8%;
}
.small-item-img{
    border: white solid 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    width: 35%;
    border-radius: 100%;
}
section{
    margin-bottom: 50px;
}
h1, p{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.map{
    width: 100%;
    height: 400px auto;
    background-color: gray;
}

.dxc-main--feedback-list-padding-tb
{
    display: block;
    margin-bottom: 0;
}
.feed-back{
    width: 100%;
    height: 150px;
    overflow: scroll;
    background-color: #e8ecf2;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.user-feedback{
    display: block;
}
.btn-provide-and-clear{
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    width: 44%;
}
.btn-provide-and-clear button{
    width: 49%;
    height: 50px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
#provide-feedback{
    background-color: #ffed00;
    border: #ffed00 solid 1px;
}
#provide-feedback:hover{
    background-color: #c7d600;
}
#clear-comment, #btn-cancel-form{
    border: black solid 1px;
}
#clear-comment:hover, #btn-cancel-form:hover{
    color: #c7d600;
    border: #c7d600 solid 1px;
    background-color: white;
}

input[type=text], select, input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] , #btn-cancel-form{
    
    font-weight: bold;
}
input[type=submit]:hover {
    background-color: #45a049;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: whitesmoke;
    z-index: 3;
    display: inline-block;
    height: 350px;
    padding: 30px;
    width: 60%;
}
.submit-cancel{
    position: relative;
    height: 50px;
}
.submit-cancel-fixed{
    position: absolute;
    bottom: 0;
    right: 0;
}
#btn-submit-form{
    padding: 10px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffed00;
    border: #ffed00 solid 1px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
#btn-submit-form:hover{
    background-color: #c7d600;
}
#btn-cancel-form{
    border: rgb(73, 71, 71) solid 1px;
    border-radius: 2px;
    padding: 10px;
    height: 40px;
    background-color: white;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.dxc-footer{
    margin-top: 50px;
    border-top: black solid 1px;
}

@media only screen 
    and (min-device-width: 588px) 
    and (max-device-width: 832px)
    {
        .modal-content{  
            z-index: 3;
            height: 400px;
        }
}


@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 600px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo-DXC{
        position: absolute;
        left: 20px;
        bottom: 25px;
        height: 30px;
        width: 40px;
        display: inline-block;
    }
    .company-name{
        visibility: hidden;
    }
    .nav-bar{
        display: inline-block;
    }
    .nav-bar-ul{
        position: fixed;
        right: 0;
        top: 0;
        width: 80%;
        height: 80px;
    }
    .nav-bar-ul-li{
        display: inline-block;
        margin: 0px 40px 20px 0px;
        
    }
    .leftbanner{
        position: absolute;
        bottom: 0;
        height: 100px;
        border-radius: 0px 260px 260px 0px;
        border: 1px solid #000;
        width: 60%;
        background: rgba(0, 0, 0, 0.555);
        padding: 20px;
    }
    .leftbanner h1{
        font-size: 30px;
        width: 90%;
        vertical-align:middle;
        color: white;
        text-align: center;
    }
    #bannerlogo{
        overflow: hidden;
    }
    .container, .dxc-footer{
        margin-left: 20px;
        margin-right: 20px;
        display: block;
        padding-bottom: 30px;
    }
    .dxc-main--about-us-padding-tb
    {
        display: block;
        margin-bottom: 50px;
    }
    .overview-about-us{
        display: block;
        width: 100%;
        margin-right:30px;
    }
    .overview-about-us-video{
        display: block;
        width: 100%;    
    }
    .small-item {
        display: inline-block;
        width: 49%;
        text-align: center;
    }
    .map iframe{
        width: 100%;
        height: 180px;
    }
    .btn-provide-and-clear{
        margin-left: 20px;
        margin-right: 20px;
        display: block;
        width: 93%;
    }
    .btn-provide-and-clear button{
        display: block;
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    }
    h1{
        text-align: center;
    }
    .modal-content{
        z-index: 3;
        position: fixed;
        height: 100%;
        padding: 30px;
        width: 100%;
    }
}
@media only screen 
    and (min-device-width: 600px) 
    and (max-device-width: 752px)
    {
        .logo-DXC{
            position: absolute;
            left: 20px;
            bottom: 15px;
            height: 40px;
            width: 50px;
            display: inline-block;
        }
        .company-name{
            position: absolute;
            left: 64px;
            top: 20px;
            height: 60px;
            width:230px;
            font-size: 50%;
            letter-spacing: 0.03em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            display: inline-block;
        }
        .leftbanner{
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            top :0;
            bottom: 0;
            height: 150px;
            border-radius: 0px 260px 260px 0px;
            border: 1px solid #000;
            width: 45%;
            background: rgba(0, 0, 0, 0.555);
            padding: 20px;
        }
        .leftbanner h1{
            font-size: 35px;
            width: 90%;
            vertical-align:middle;
            color: white;
            text-align: center;
        }
        #bannerlogo{
            overflow: hidden;
        }
        .nav-bar{
            display: inline-block;
        }
        .nav-bar-ul{
            position: fixed;
            width: 100%;
            left: 140px;
            top: 0;
            height: 80px;
        }
        .nav-bar-ul-li{
            display: inline-block;
            margin: 14px;
        }  
}

@media only screen 
  and (min-device-width: 752px) 
  and (max-device-width: 1248px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo-DXC{
        position: absolute;
        left: 20px;
        bottom: 18px;
        height: 40px;
        width: 60px;
        display: inline-block;
    }
    .company-name{
        position: absolute;
        left: 75px;
        top: 14px;
        height: 60px;
        width:250px;
        font-size: 75%;
        letter-spacing: 0.03em;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        display: inline-block;
    }
    .nav-bar{
        display: inline-block;
    }
    .nav-bar-ul{
        position: fixed;
        width: 100%;
        left: 270px;
        top: 0;
        height: 80px;
    }
    .nav-bar-ul-li{
        display: inline-block;
        margin: 14px;
    }
    .leftbanner{
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        top :0;
        bottom: 0;
        height: 150px;
        border-radius: 0px 260px 260px 0px;
        border: 1px solid #000;
        width: 45%;
        background: rgba(0, 0, 0, 0.555);
        padding: 20px;
    }
    .leftbanner h1{
        font-size: 35px;
        width: 90%;
        vertical-align:middle;
        color: white;
        text-align: center;
    }
    #bannerlogo{
        overflow: hidden;
    }
    .container, .dxc-footer{
        margin-left: 20px;
        margin-right: 20px;
        display: block;
        padding-bottom: 30px;
    }
    .dxc-main--about-us-padding-tb
    {
        display: block;
        margin-bottom: 50px;
    }
    .overview-about-us{
        display: block;
        width: 100%;
        margin-right:30px;
    }
    .overview-about-us-video{
        display: block;
        width: 100%;    
    }
    .small-item {
        display: inline-block;
        width: 49%;
        text-align: center;
    }
    .map iframe{
        width: 100%;
        height: 300px;
    }
    .btn-provide-and-clear{
        margin-left: 50px;
        margin-right: 50px;
        display: block;
        width: 66%;
    }
    .btn-provide-and-clear button{
        width: 49%;
        height: 50px;
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    }
}